/* You can add global styles to this file, and also import other style files */
html,
body {
  height: 100%;

}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #1c1c2a;
}

.btn-primary {
  height: 15%;
  border-radius: 5px;
  background-color: #66699d;
  border-color: #66699d;
}

.btn-primary:hover {
  cursor: pointer;
  background-color: #4c4e72;
  border-color: #4c4e72;
}

.btn-primary:active {
  background-color: #3a3c58;
  outline-color: #3a3c58;
  border-style: hidden;
}